<template>
    <div>
        <ul class="flex border-b">
  <li class="-mb-px mr-1">
    <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold" href="/">Dashboard</a>
  </li>
  <li class="mr-1">
    <nuxt-link class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="/create">Create</nuxt-link>
  </li>
  <li class="mr-1">
    <nuxt-link class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="/update">Update</nuxt-link>
  </li>
</ul> 

<div class="w-full max-w-xs">
  <form @submit.prevent="addProduto" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Nome Produto
      </label>
      <input v-model="form.name" class="shadow appearance-none border border-blue-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="produto">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Descrição Produto
      </label>
      <input v-model="form.desc" class="shadow appearance-none border border-blue-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="desc" type="text" placeholder="descrição">
      
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Adicionar
      </button>
     
    </div>
  </form>
  
</div>

    </div>
</template>

<script>
import axios from 'axios'

    export default {
        name:"add-produto",
        data() {
            return {
                form: {
                    name: "",
                    desc: ""
                }
            }
        },
        methods: {
            addProduto() {
                axios
                .post('http://127.0.0.1:8000/api/create', this.form)
                .then(res => {
                    console.log(res)
                    this.$router.push({ 
                        name:"",
                        desc:""
                    })
                    .catch(error => {
                        console.log(e)
                    })
                })
            }
        }
    }
</script>