<template>
    <div>
        <ul class="flex border-b">
  <li class="-mb-px mr-1">
    <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold" href="/">Dashboard</a>
  </li>
  <li class="mr-1">
    <nuxt-link class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="/create">Create</nuxt-link>
  </li>
  <li class="mr-1">
    <nuxt-link class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="/update">Update</nuxt-link>
  </li>
</ul>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID PRODUTO
                </th>
                <th scope="col" class="px-6 py-3">
                    NOME PRODUTO
                </th>
                <th scope="col" class="px-6 py-3">
                    DESCRIÇÃO
                </th>
                <th scope="col" class="px-6 py-3">
                    REMOVER
                </th>
                <th scope="col" class="px-6 py-3">
                    EDITAR
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"
             v-for="prod in produto" :key="prod.id">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ prod.id }}
                </th>
                <td class="px-6 py-4">
                    {{ prod.name }}
                </td>
                <td class="px-6 py-4">
                    {{ prod.desc }}
                </td>
                <td class="px-6 py-4">
                    <button @click="deleteProdutos(prod.id)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Remover</button>
                </td> 
                <td class="px-6 py-4">
                    <a :href="('update/'+prod.id)">Editar</a>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
    
    </div>
</template>
                
                
<script>
import axios from "axios"; 

    export default {
        name:'index',
        data() {
            return {
                produto:[],
            }
        },
        created() {
            axios
                .get(`http://127.0.0.1:8000/api/exibe`)
                .then((res) => {
                    this.produto = res.data;
                    console.log(res.data);
                })
                .catch((error) => {
                    console.log(error);
                })
        },
        methods: {
            getProduto(name,desc) {
                console.log(name,desc);
            },
            deleteProdutos(id) {
                axios
                .delete(`http://127.0.0.1:8000/api/deleta/${id}`)
                .then((res) => {
                    let i = this.produto.map(data => data.id).indexOf(id);
                    this.produto.splice(i, 1);
                });
            }
        }
    }
                    
</script>        
            
            