<template>
    <div>

<p>{{ produto.id }}</p>
<ul class="flex border-b">
  <li class="-mb-px mr-1">
    <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold" href="/">Dashboard</a>
  </li>
  <li class="mr-1">
    <nuxt-link class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="/create">Create</nuxt-link>
  </li>
  <li class="mr-1">
    <nuxt-link class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="/update">Update</nuxt-link>
  </li>
</ul>  
<form @submit.prevent="updateProduto" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Nome Produto
      </label>
      <input v-model="produto.name" class="shadow appearance-none border border-blue-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="produto">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Descrição Produto
      </label>
      <input v-model="produto.desc" class="shadow appearance-none border border-blue-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="desc" type="text" placeholder="descrição">
      
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Alterar
      </button>
     
    </div>
  </form>

    </div>
</template> 

<script>
import axios from 'axios'

    export default {
        name:'updateProduto',
        data() {
            return {
                produto: {
                  name:"",
                  desc:""
                }
            }
                  
        },
        mounted() {
            this.showProduto()
        },
        
        methods: {
            showProduto() {
              axios
            .get(`http://127.0.0.1:8000/api/pegue/${this.$route.params.id}`)
            .then((res) => {
                const {name, desc} = res.data
                this.produto.name = name;
                this.produto.desc = desc;
                console.log(res.data);
            })
            },
            updateProduto() {
              console.log(this.produto);
                axios
                .post(`http://127.0.0.1:8000/api/update/${this.$route.params.id}`, this.produto)
                .then((res) => {
                    console.log(res)
                    
                })
            }   
        }
    }
</script>